PORT=3000
JWT_SECRET=seu_jwt_secret_aqui

DATABASE_URL="postgresql://usuario:senha@localhost:5432/bookclub"

STRIPE_SECRET_KEY=sk_test_sua_chave_aqui
STRIPE_WEBHOOK_SECRET=whsec_sua_chave_aqui

SMTP_HOST=email-smtp.us-east-2.amazonaws.com
SMTP_PORT=587
SMTP_USER=seu_usuario_smtp_aqui
SMTP_PASS=sua_senha_smtp_aqui
SMTP_FROM=seu_email@exemplo.com